In [1]:
import pandas as pd

In [8]:
try:
    url = "https://raw.githubusercontent.com/shaheennabi/My_Datasets/refs/heads/main/Gem%20Stone%20Price%20Prediction%20Dataset/dataset.csv"

    data = pd.read_csv(url)
    print(data.head())
except Exception as e:
    print("Error:", e)

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

# About the DATA

## Introduction About the Data : The dataset The goal is to predict price of given diamond (Regression Analysis).

## There are 10 independent variables (including id):

### id : unique identifier of each diamond

### carat : Carat (ct.) refers to the unique unit of weight measurement used exclusively to weigh gemstones and diamonds.

### cut : Quality of Diamond Cut

### color : Color of Diamond

### clarity : Diamond clarity is a measure of the purity and rarity of the stone, graded by the visibility of these characteristics under 10-power magnification.

### depth : The depth of diamond is its height (in millimeters) measured from the culet (bottom tip) to the table (flat, top surface)

### table : A diamond's table is the facet which can be seen when the stone is viewed face up.

### x : Diamond X dimension

### y : Diamond Y dimension

### x : Diamond Z dimension

## Target variable:

### price: Price of the given Diamond.

In [9]:
data.head(12)

    id  carat        cut color clarity  depth  table     x     y     z  price
0    0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1    1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2    2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3    3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4    4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
5    5   1.51  Very Good     J     SI1   62.8   58.0  7.34  7.29  4.59   7506
6    6   0.74      Ideal     E     VS2   61.8   57.0  5.76  5.79  3.57   3229
7    7   1.34    Premium     G     SI2   62.5   57.0  7.00  7.05  4.38   6224
8    8   0.30      Ideal     F      IF   62.0   56.0  4.35  4.37  2.70    886
9    9   0.30       Good     J     VS1   63.6   57.0  4.26  4.28  2.72    421
10  10   1.01  Very Good     G     VS2   63.1   57.0  6.40  6.34  4.03   5914
11  11   0.23      Ideal     E    VVS2   62.0   57.0  3.96  3.98  2.46    505

In [20]:
df = data

In [23]:
data["cut"].value_counts()

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64

## Meaning of color terms
* D: Colorless (the highest grade)
* E: Colorless
* F: Colorless
* G-H: Near colorless
* I-J: Slightly tinted
* K-Z: Increasingly more noticeable color tints

In [24]:
data["color"].value_counts()

color
G    44391
E    35869
F    34258
H    30799
D    24286
I    17514
J     6456
Name: count, dtype: int64

## Clarity Grades
* VVS1: Extremely difficult to detect inclusions; near flawless.
* VVS2: Very difficult to see inclusions; minimal impact on appearance.
* VS1: Minor inclusions hard to spot; high quality.
* VS2: Noticeable inclusions under magnification; good quality.
* SI1: Inclusions visible under magnification and may be seen with close inspection.
* SI2: Easily visible inclusions; noticeable to the naked eye.
* I1: Obvious inclusions visible without magnification; affects appearance.
* I2: Very noticeable inclusions; impacts appearance and durability.
* I3: Extremely visible inclusions; severely affects appearance and integrity.

In [31]:
data["clarity"].value_counts()

clarity
SI1     53272
VS2     48027
VS1     30669
SI2     30484
VVS2    15762
VVS1    10628
IF       4219
I1        512
Name: count, dtype: int64

In [25]:
data.sample(10)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
141020,141020,0.80,Ideal,F,VS1,62.4,57.0,5.92,5.96,3.71,4412
181109,181109,0.51,Ideal,H,VS1,62.1,53.0,5.13,5.15,3.19,1343
160675,160675,2.01,Very Good,I,VS2,59.8,60.0,8.07,8.19,4.87,16874
130210,130210,0.31,Premium,H,SI1,60.1,58.0,4.42,4.39,2.65,628
162762,162762,0.79,Ideal,D,SI1,61.8,57.0,5.92,5.97,3.67,3852
69798,69798,0.73,Ideal,I,VVS2,62.4,54.0,5.73,5.76,3.58,2583
31033,31033,1.20,Very Good,I,SI1,62.0,57.0,6.76,6.81,4.21,5416
169238,169238,1.57,Ideal,H,SI1,62.5,54.0,7.41,7.45,4.64,9526
3786,3786,1.51,Good,I,SI1,63.3,61.0,7.30,7.34,4.64,8705
1772,1772,0.30,Very Good,I,VS1,63.8,58.0,4.26,4.31,2.73,473

In [28]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [29]:
data.shape

(193573, 11)

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [32]:
data.columns

Index(['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z', 'price'],
      dtype='object')

In [ ]:
# dropping id because of use
data.drop('id', axis=1, inplace=True)

In [34]:
data

        carat        cut color clarity  depth  table     x     y     z  price
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
...       ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81    681
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 10 columns]

In [37]:
# checking for duplicated rows
data.duplicated().sum()

0

In [39]:
data.dtypes=="object"

carat      False
cut         True
color       True
clarity     True
depth      False
table      False
x          False
y          False
z          False
price      False
dtype: bool

In [43]:
# catagorical columns
cat_columns = data.columns[data.dtypes=="object"]

In [46]:
cat_columns

Index(['cut', 'color', 'clarity'], dtype='object')

In [44]:
# numerical columns
num_columns = data.columns[data.dtypes!="object"]

In [45]:
num_columns

Index(['carat', 'depth', 'table', 'x', 'y', 'z', 'price'], dtype='object')

In [47]:
data[cat_columns]

              cut color clarity
0         Premium     F     VS2
1       Very Good     J     SI2
2           Ideal     G     VS1
3           Ideal     G     VS1
4         Premium     G     VS2
...           ...   ...     ...
193568      Ideal     D    VVS2
193569    Premium     G    VVS2
193570  Very Good     F     SI1
193571  Very Good     D     SI1
193572       Good     E     SI2

[193573 rows x 3 columns]